* {
    margin: 0;
    padding: 0;
}

button {
    text-decoration: none;
}

.divider {
    height: 0vh;
    width: 100%;
    border: 2.4px solid #b68f40;
    box-sizing: border-box;
}
/* navbar.............................................................................................................. */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 12vh;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 100;
}

.WebName {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16vw;
    margin-right: 6vw;
}

#WebName {
    height: 85%;
    width: auto;
}

#symbol {
    height: 8vh;
    width: auto;
}

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.register h1 {
    color: white;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
}

.registerbuttons {
    height: 5vh;
    width: 8vw;
    border-radius: 14px;
    background-color: #b68f40;
    color: #1c1c1c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.8vh;
}

.registerbuttons:hover {
    background-color: #323232;
    color: #b68f40;
}
/* container.........................................................................................................  */
.container {
    height: 95vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange }
}

.typing-animation {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 70vw;
    animation: typing 3s steps(20, end) forwards, blink .8s infinite;
}

.tagline {
    width: 70vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9vh;
    color: white;
    font-weight: bolder;
    margin-bottom: 5vh;
}

.tagitems {
    margin-top: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#SearchEvent {
    height: 2vh;
    padding: 10px;
    width: 25vw;
    margin-right: 20px;
    border-radius: 4px;
}

#SearchDate {
    border-radius: 4px;
    height: 2vh;
    padding: 10px;
    width: 13vw;
    margin-right: 20px;
}

#SearchDate::placeholder, #SearchEvent::placeholder {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vh;
    opacity: 0.5;
    color: black;
}

#SearchBtn i {
    margin-right: 6px;
}

#SearchBtn {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    height: 5vh;
    width: 8vw;
    color: #b68f40;
    background-color: rgb(0, 0, 0);
}

#SearchBtn:hover {
    color: #c47f00;
    background-color: #1c1c1c;
}

/* events............................................................................................................. */
.events {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 15px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.EventHead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.EventElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.EventElements a {
    text-decoration: none;
    color: inherit;
    width: 31%;
    margin-bottom: 20px;
}

.event {
    background-color: #fff;
    padding: 10px;
    width: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, cursor 0.3s;
}

.event:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.event img {
    width: 90%;
    height: 50vh;
}

.event-info {
    padding: 10px;
}

.event-info a {
    text-decoration: none;
    color: inherit;
}

.event-info h3 {
    margin: 10px 0 5px;
}

.event-info p {
    margin: 0;
}

#ShowMore {
    display: block;
    width: 100%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vh;
    background-color: #1c1c1c;
    color: #b68f40;
    border: none;
    cursor: pointer;
}

#ShowMore:hover {
    background-color: #333232;
}
/* create event ........................................................................................................ */
.create{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('12.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-event-form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.create-event-form h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.event-form .form-group {
    margin-bottom: 15px;
}

.event-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.event-form .form-group input,
.event-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.event-form .form-group textarea {
    height: 100px;
}

.event-form button.submit-button {
    padding: 10px 20px;
    background-color: #1c1c1c;
    color: #c47f00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
}

.event-form button.submit-button:hover {
    background-color: #323232;
}

/* QUestonnarie................................................................................................ */
.questions {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.QuesHead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #f4f4f4;
}

.QuesBox {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form .form-group textarea {
    height: 100px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #1c1c1c;
    color: #c47f00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.contact-form button:hover {
    background-color: #323232;
}

 /* footer...............................................................................................................  */
.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    border-top: 2px solid #b68f40;
    border-bottom: 2px solid #b68f40;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #b68f40;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.social-media a:hover {
    color: #fcbe43;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}