html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.back-button { 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    font-size: 24px; 
    color: #333; 
    text-decoration: none; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.3s; 
} 
.back-button:hover { 
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.1); 
}
.register-container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    /* width: 50vw; */
}

.left-panel {
    /* background: linear-gradient(to bottom right, #6a11cb, #2575fc); */
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    width: auto;
    height: 50vh;
    margin-bottom: 20px;
}

.right-panel {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
}

.right-panel h2 {
    margin: 0 0 20px;
}

.right-panel p {
    margin: 0 0 20px;
    color: #666;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-button {
    background-color: #6a11cb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #2575fc;
}


